* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
.main-block {
  position: relative;
}
.grid {
  display: grid;
  grid-template-rows: 27% 1fr;
}
.grid-password {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.registration {
  margin-top: -30px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.registration-form {
  background-color: #ffffff;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  margin-top: -63px;
}
.divider {
  border-bottom: 5px solid rgb(167, 164, 164);
  margin: 19px auto 0;
  width: 40px;
  border-radius: 40px;
}

.paragraph-connect {
  font-size: 14px;
  line-height: 20px;
  color: #8f92a1;
  text-align: center;
}
.paragraph {
  margin: 10px 0 30px 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.flex-icons {
  display: flex;
  margin: 28px auto;
  width: 90%;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-rows: none;
    grid-template-columns: 55% 45%;
  }
  .grid-password {
    grid-template-rows: none;
    grid-template-columns: 55% 45%;
  }
  .registration {
    margin-left: -5%;
    margin-top: 0;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  .registration-form {
    margin-left: -5%;
    margin-top: 0;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  .right-block {
    margin: 80px auto;
    width: 80%;
  }

  .divider {
    display: none;
  }
  .paragraph-connect {
    display: none;
  }
}
