.element-auxiliary {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #1e1f20;
}
.bottom {
  margin: 48px 6% 24px;
}
.input-email {
  width: 87%;
  height: 48px;
  padding: 0 6%;
  border-radius: 4px;
  margin: 10px 0 18px 0;
  border: 2px solid rgba($color: #8f92a1, $alpha: 0.2);
  color: #8f92a1;
}
.label-input {
  color: #1e1f20;
}

.input-icon_email {
  position: relative;
}
.check {
  position: absolute;
  top: 35%;
  right: 15px;
}
.input-text {
  color: #8f92a1;
}
.send-email {
  height: 58px;
  text-align: center;
  background-color: #53d769;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
}
