.element-auxiliary {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
.top {
  margin: 28px 6% 18px;
}
.input-icon_email {
  position: relative;
}
.bottom {
  margin: 0 6% 18px;
}
.input-email {
  width: 87%;
  height: 48px;
  padding: 0 6%;
  border: 2px solid rgba($color: #8f92a1, $alpha: 0.2);
  border-radius: 4px;
  margin: 10px 0 18px 0;
}
.label-input {
  color: #1e1f20;
}
.check {
  position: absolute;
  top: 35%;
  right: 15px;
}
.login {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button-login {
  height: 58px;
  text-align: center;
  background-color: #0659fd;
  width: 88%;
  margin: 0 6%;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
}
.paragraph-login_desc {
  display: none;
}
.paragraph-login {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #8f92a1;
  margin: 18px 0;
}
@media (min-width: 1024px) {
  .paragraph-login {
    display: none;
  }
  .paragraph-login_desc {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #8f92a1;
    text-align: start;
    margin-bottom: 12px;
  }
}
