$white: #ffffff;
$width: 1024px;

.element-auxiliary {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
.top {
  margin: 28px 0 18px;
}
.form {
  width: 90%;
  margin: 0 auto;
}
.input-icon_email {
  position: relative;
}
.bottom {
  margin: 0 0 18px;
}
.input-email {
  position: relative;
  width: 87%;
  height: 48px;
  padding: 0 6%;
  border: 2px solid rgba($color: #8f92a1, $alpha: 0.2);
  border-radius: 4px;
  margin: 10px 0 18px 0;
}
.label-input {
  color: #1e1f20;
}
.check {
  position: absolute;
  top: 35%;
  right: 15px;
}
.login {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button-login {
  height: 58px;
  text-align: center;
  background-color: #0659fd;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  color: $white;
  font-weight: 700;
}
.paragraph-login_desc {
  display: none;
  @media (min-width: $width) {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #8f92a1;
    text-align: start;
    margin-bottom: 12px;
  }
}
.paragraph-login {
  text-decoration: none;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #8f92a1;
  margin: 18px 0;
  @media (min-width: $width) {
    display: none;
  }
}
.error {
  color: #dd4f4f;
  margin-top: -17px;
}
.error-border {
  border-color: #dd4f4f;
}
