.logo {
  display: none;
}
.paragraph-signin {
  display: none;
}
.text {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px 0 0 6%;
}
.title {
  display: none;
}
.title-mobile {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #1e1f20;
  text-align: start;
}
.title-mobile-password {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #1e1f20;
  text-align: start;
}
.paragraph-mobile {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #8f92a1;
  margin: 0;
  text-align: start;
}
.paragraph-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .title-mobile {
    display: none;
  }
  .title {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #1e1f20;
    text-align: start;
  }
  .logo {
    display: block;
    width: 50%;
    margin-bottom: 40px;
  }
  .paragraph-mobile {
    display: none;
  }
  .paragraph-desktop {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #8f92a1;
    margin: 0;
    text-align: start;
  }
}
