$white: #ffffff;
$width: 1024px;

.element-auxiliary {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
}
.input-icon_email {
  position: relative;
}
.bottom {
  margin: 20px 0;
}
.form {
  width: 90%;
  margin: 0 auto;
}
.bottom-input {
  margin: 20px 0 40px 0;
}
.input-email {
  width: 88%;
  height: 48px;
  padding: 0 6%;
  border: 2px solid rgba($color: #8f92a1, $alpha: 0.2);
  border-radius: 4px;
  margin: 10px 0 3px 0;
}

.label-input {
  color: #1e1f20;
}

.check {
  position: absolute;
  top: 35%;
  right: 15px;
}
.login {
  width: 100%;
}
.button-login {
  height: 58px;
  text-align: center;
  background-color: #79d0f1;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  color: $white;
  font-weight: 700;
}

.paragraph-login {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #8f92a1;
  margin: 18px 0;
  @media (min-width: $width) {
    display: none;
  }
}
.is-invalid {
  border-color: red;
}
.invalid {
  color: crimson;
}
.error {
  color: #dd4f4f;
}
.error-border {
  border-color: #dd4f4f;
}
