.nav-bottom {
  background: #0659fd;
  border-radius: 32px 32px 0px 0px;
  padding: 35px 0;
  @media (min-width: 1024px) {
    order: 1;
    width: 15%;
    border-radius: 0;
  }
}
.wrapper-nav {
  @media (min-width: 1024px) {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
  }
}
.nav-desktop {
  border-radius: 32px 32px 0px 0px;
  padding: 25px 0 59px;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 60px;
  }
}
.button-icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  fill: #ffffff;
  &:hover {
    background: #ffffff;
    fill: #0659fd;
  }

  @media (min-width: 1024px) {
    width: 48px;
    height: 48px;
    margin-top: 40px;
  }
}
.setting {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
}
.logout-nav {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 48px;
    height: 48px;
    fill: #ffffff;
    order: 2;
    &:hover {
      background: #ffffff;
      fill: #0659fd;
    }
  }
}

.button-container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: 1024px) {
    order: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 320px;

    :nth-last-of-type(6) {
      margin-top: 0;
    }
    :nth-last-of-type(4) {
      display: none;
    }
  }
}

.message {
  :hover {
    background-color: #ffffff;
  }
  @media (min-width: 1024px) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
