$white: #ffffff;
$width: 1024px;

.hello {
  display: none;
  @media (min-width: $width) {
    display: block;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 17%;
  }
}
@media (min-width: $width) {
  .hello-position {
    position: relative;
  }
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
  }
  .button {
    width: 100%;
    height: 58px;
    background-color: #79d0f1;
    color: $white;
    border-radius: 12px;
    align-items: center;
    border: none;
  }
  .button-blue {
    width: 100%;
    height: 58px;
    background-color: #132fe5;
    color: $white;
    border-radius: 12px;
    align-items: center;
    border: none;
  }
}
