$width: 1024px;

.block-image {
  height: 100%;
}

.logotype {
  position: absolute;
  width: 21%;
  top: 12%;
  left: 42%;
}

.logotype-password {
  position: absolute;
  top: 32%;
  left: 28%;
  margin: 0 auto;
  }
  
.img {
  background: url(./image/background.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;

  @media (min-width: $width) {
    background: url(./image/background-image.jpg) no-repeat;
    background-size: cover;
  }
}
.img-password {
  background: url(./image/Image.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  @media (min-width: $width) {
    background: url(./image/background-image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

@media (min-width: $width) {
  .logo {
    display: none;
  }
  .logotype {
    display: none;
  }
}
