.user {
    display: flex;
    justify-content: end;
    margin: 10px 0 30px;
}


.go-out {
   width: 54px;
   height: 35px;
   display: flex;
   justify-content: center;
   background-color:rgba(6, 89, 256, 0.8);
   border-radius: 10px;
}
