$white: #ffffff;
$width: 1024px;

.button-create {
  text-decoration: none;
  cursor: none;
  display: inline-block;
  height: 58px;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  background-color: $white;
  border: 1px solid #8f92a1;
  color: #1e1f20;
  font-weight: 700;
}
.text-link {
  margin: 19px auto;
}
.form-create {
  width: 89%;
  margin: 0 6%;
  @media (min-width: $width) {
    display: none;
  }
}
